<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation
    </title>
</head>
<body>
    <h2>thank you <%=name %></h2>
    <p>your email is: <%=email %></p>
</body>
</html>